In [1]:
pip install cx_Oracle

Collecting cx_Oracle
  Downloading cx_Oracle-8.3.0-cp310-cp310-win_amd64.whl.metadata (3.3 kB)
Downloading cx_Oracle-8.3.0-cp310-cp310-win_amd64.whl (213 kB)
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import cx_Oracle

# Establish a connection to the Oracle database

connection = cx_Oracle.connect("system", "Admin@123", "localhost:1521/orcl")
cursor = connection.cursor()

# CREATE (Create a new table)
def create_table():
    try:
        cursor.execute("""
            CREATE TABLE employees (
                id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
                name VARCHAR2(50),
                salary NUMBER(10, 2)
            )
        """)
        print("Table created successfully.")
    except cx_Oracle.DatabaseError as e:
        print(f"Error creating table: {e}")

# INSERT (Insert a new record)
def insert_employee(emp_name, emp_salary):
    try:
        cursor.execute("INSERT INTO employees (name, salary) VALUES (:1, :2)", (emp_name, emp_salary))
        connection.commit()
        print("Record inserted successfully.")
    except cx_Oracle.DatabaseError as e:
        print(f"Error inserting data: {e}")

# SELECT (Select records)
def select_employees():
    try:
        cursor.execute("SELECT * FROM employees")
        rows = cursor.fetchall()
        print("Employee Records:")
        for row in rows:
            print(row)
    except cx_Oracle.DatabaseError as e:
        print(f"Error reading data: {e}")

# UPDATE (Update a record)
def update_employee(emp_id, new_salary):
    try:
        cursor.execute("UPDATE employees SET salary = :1 WHERE id = :2", (new_salary, emp_id))
        connection.commit()
        print("Record updated successfully.")
    except cx_Oracle.DatabaseError as e:
        print(f"Error updating data: {e}")

# DELETE (Delete a record)
def delete_employee(emp_id):
    try:
        cursor.execute("DELETE FROM employees WHERE id = :1", (emp_id,))
        connection.commit()
        print("Record deleted successfully.")
    except cx_Oracle.DatabaseError as e:
        print(f"Error deleting data: {e}")

# Main program execution
if __name__ == "__main__":
    # Create table
    #create_table()

    # Insert example records
    insert_employee("Devi", 50000)
    insert_employee("Rama", 60000)

    # Select records
    print("After Insertion:")
    select_employees()

    # Update a record
    update_employee(1, 55000)  # Update salary for the employee with id 1

    # Select records again
    print("After Update:")
    select_employees()

    # Delete a record
    delete_employee(2)  # Delete the employee with id 2

    # Select records after deletion
    print("After Deletion:")
    select_employees()

# Close the cursor and connection
cursor.close()
connection.close()

Record inserted successfully.
Record inserted successfully.
After Insertion:
Employee Records:
(1, 'John Doe', 55000.0)
(4, 'Rama', 60000.0)
(3, 'Devi', 50000.0)
Record updated successfully.
After Update:
Employee Records:
(1, 'John Doe', 55000.0)
(4, 'Rama', 60000.0)
(3, 'Devi', 50000.0)
Record deleted successfully.
After Deletion:
Employee Records:
(1, 'John Doe', 55000.0)
(4, 'Rama', 60000.0)
(3, 'Devi', 50000.0)